body {


}


table, td {

  border-style: solid;
  border-color: lightgray;
  border-width: 0.001em;
  border-spacing: 15px;
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

td{
  border-radius: 25px;
  padding: 15px;
}
.captcha{
  display: flex;
  float: right;
  top:0;
  left:0;
}
