body {
  align-items: center;
}


table, td {
  border-style: solid;
  border-color: lightgray;
  border-width: 0.001em;
  border-spacing: 15px;
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

td{
  border-radius: 25px;
  padding: 15px;
}
.radioInput{
  padding: 10px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.required:after {
  content:" *";
  color: red;
}
.form-group{
   position: relative;
 }
 .form-group .personals{
  border:none;
   position:relative;
  border-bottom: 1px solid grey;
  width: 26%;
  padding: 10px;
  margin-left: 10px;
  margin-right:50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-group label{
  position: absolute;
    right: 10px;
    left: 15px;
  top:1px;

  color:grey;
}
label:after{
  content: " *";
  color: red;
}
.form-Adderess{
    position: relative;
}
.form-Adderess .address{
    border:none;
    position:relative;
    border-bottom: 1px solid grey;
    width: 40%;
    padding: 10px;
    margin-left: 10px;
    margin-right:45px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.form-Adderess label{
    position: absolute;
    right: 10px;
    left: 15px;
    top:1px;

    color:grey
}
.SSN{

  border:none;
  border-bottom: 1px solid grey;
  width: 15%;
  padding: 10px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.personals::after{
  content:" *";
  color: red;
}
code {

}
